@import "@styles/utilities";

.header {
    // position: fixed;
    // right: 0;
    // left: 0;
    // background-color: rgba(palette(neutral, 05), 0.5);
    border-bottom: 1px solid rgba(palette(neutral, 05), 0.25);
}
.container {
    display: grid;
    align-items: center;
    border-radius: $radius-lg;
    grid-template-columns: 1fr 1fr;
    padding-top: $size-3;
    padding-bottom: $size-3;

    @include lg {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

// [Nav Main]

.is--mobile {
    @include between(0px, calc($breakpoint-lg - 1px)) {
        display: flex;
    }
    @include lg {
        display: none;
    }
}

.is--desktop {
    @include between(0px, calc($breakpoint-lg - 1px)) {
        display: none;
    }
    @include lg {
        display: grid;
    }
}

.desktop-nav {
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    // column-gap: $size-1;
    &.main-nav {
        align-self: center;

        & > div,
        & > a {
        }
    }
    .selector {
    }
}

.mobile-nav {
}

.desktop__nav__main,
.desktop__nav__social,
.mobile__nav__social {
    .nav__item {
        &:not(:first-child) {
            margin-left: $size-2;
        }

        svg {
            font-size: 20px;
        }
    }
}

.desktop__nav__main {
    justify-self: center;
}

.desktop__nav__social {
    justify-self: flex-end;
}

.mobile__nav__main .nav__item,
.desktop__nav__main .nav__item {
    @include fontSizing(
        $font-size-xs,
        $line-height-none,
        $font-weight-black,
        $letter-spacing-tight
    );
    color: palette(neutral, 60);
}

.desktop__nav__main .nav__item {
    align-items: center;
    text-transform: uppercase;

    svg {
        display: flex;
        margin-left: $size-0-5;
        font-size: $font-size-md;

        .active & {
            transform: rotate(180deg);
        }
    }
}

.drowpdown-menu {
    position: fixed;
    top: 50px;
    right: 22px;
    min-width: 200px;
    background-color: palette(common, white);
    border-top: 1px solid palette(neutral, 05);
    padding: $size-4;
    box-shadow: $shadow-lg;
    border-radius: $radius-md;
}

.mobile__nav__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile__nav__main .nav__item {
    display: flex;
    align-items: center;
    padding-top: $size-1;
    padding-bottom: $size-1;
    transition: border-color $duration-normal $ease-out;

    &:last-child {
        margin-bottom: $size-3;
    }

    // border-bottom: 1px dashed palette(blue, 10);
}

.hamburger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    z-index: $z-20;
    cursor: pointer;

    svg {
        position: relative;
        z-index: $z-10;
        font-size: 20px;
        transition: transform $duration-normal $ease-in,
            fill $duration-normal $ease-in;
    }

    &.inactive {
        svg {
            fill: palette(neutral, 80);
            transform: scale(1);
            transition: transform $duration-normal $ease-in,
                fill $duration-normal $ease-in;
        }
    }
    &.active {
        svg {
            fill: palette(common, ebony);
            transform: scale(0.85);
            transition: transform $duration-normal $ease-out,
                fill $duration-normal $ease-out;
        }
    }

    @include lg {
        display: none;
    }
}
