@import "@styles/utilities";

.body {
    position: relative;
}

.content {
    h1 {
        @include fontSizing(
            $font-size-6xl,
            $line-height-tight,
            $font-weight-black
        );
        margin-bottom: $size-1-5;

        @include md {
            @include fontSizing(
                $font-size-8xl,
                $line-height-tight,
                $font-weight-black
            );
            margin-bottom: $size-2;
        }

        @include lg {
            @include fontSizing(
                $font-size-10xl,
                $line-height-tight,
                $font-weight-black
            );
            margin-bottom: $size-2-5;
        }
    }
    h2 {
        @include fontSizing(
            $font-size-4xl,
            $line-height-tight,
            $font-weight-bold
        );
        margin-bottom: $size-1-5;
        @include md {
            @include fontSizing(
                $font-size-6xl,
                $line-height-tight,
                $font-weight-bold
            );
        }

        @include lg {
            @include fontSizing(
                $font-size-8xl,
                $line-height-tight,
                $font-weight-bold
            );
            margin-bottom: $size-2-5;
        }
    }
    h3 {
        @include fontSizing(
            $font-size-3xl,
            $line-height-tight,
            $font-weight-bold,
            $letter-spacing-tight
        );
        margin-bottom: $size-1-5;
        @include md {
            @include fontSizing(
                $font-size-5xl,
                $line-height-tight,
                $font-weight-bold,
                $letter-spacing-tight
            );
        }

        @include lg {
            @include fontSizing(
                $font-size-7xl,
                $line-height-tight,
                $font-weight-bold,
                $letter-spacing-tight
            );
            margin-bottom: $size-2-5;
        }
    }
    h4 {
        @include fontSizing(
            $font-size-2xl,
            $line-height-tight,
            $font-weight-bold
        );
        margin-bottom: $size-1-5;
        @include md {
            @include fontSizing(
                $font-size-4xl,
                $line-height-tight,
                $font-weight-bold
            );
        }

        @include lg {
            @include fontSizing(
                $font-size-6xl,
                $line-height-tight,
                $font-weight-bold
            );
            margin-bottom: $size-2-5;
        }
    }
    h5 {
        @include fontSizing(
            $font-size-xl,
            $line-height-tight,
            $font-weight-bold
        );
        margin-bottom: $size-1-5;
    }
    h6 {
        @include fontSizing(
            $font-size-7xl,
            $line-height-snug,
            $font-weight-bold
        );
    }
    p {
        @include fontSizing(
            $font-size-lg,
            $line-height-normal,
            $font-weight-normal
        );
        margin-bottom: $size-1-5;

        @include md {
            margin-bottom: $size-2;
        }
        @include md {
            margin-bottom: $size-3;
        }
    }
}

.w {
    &__xs {
        margin-right: auto;
        margin-left: auto;
        max-width: $width-xs;

        @include between(0px, calc($breakpoint-md - 1px)) {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
        @include md {
            padding-right: 2.5rem;
            padding-left: 2.5rem;
        }
    }

    &__sm {
        margin-right: auto;
        margin-left: auto;

        @include between(0px, calc($breakpoint-md - 1px)) {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
        @include md {
            padding-right: 2.5rem;
            padding-left: 2.5rem;
        }

        @include between(0px, calc($breakpoint-sm - 1px)) {
            max-width: $width-xs;
        }
        @include sm {
            max-width: $width-sm;
        }
    }

    &__md {
        margin-right: auto;
        margin-left: auto;

        @include between(0px, calc($breakpoint-md - 1px)) {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
        @include md {
            padding-right: 2.5rem;
            padding-left: 2.5rem;
        }

        @include between(0px, calc($breakpoint-sm - 1px)) {
            max-width: $width-xs;
        }
        @include between($breakpoint-sm, calc($breakpoint-md - 1px)) {
            max-width: $width-sm;
        }
        @include md {
            max-width: $width-md;
        }
    }

    &__lg {
        margin-right: auto;
        margin-left: auto;

        @include between(0px, calc($breakpoint-md - 1px)) {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
        @include md {
            padding-right: 2.5rem;
            padding-left: 2.5rem;
        }

        @include between(0px, calc($breakpoint-sm - 1px)) {
            max-width: $width-xs;
        }
        @include between($breakpoint-sm, calc($breakpoint-md - 1px)) {
            max-width: $width-sm;
        }
        @include between($breakpoint-md, calc($breakpoint-lg - 1px)) {
            max-width: $width-md;
        }

        @include lg {
            max-width: $width-lg;
        }
    }

    &__xl {
        margin-right: auto;
        margin-left: auto;

        @include between(0px, calc($breakpoint-md - 1px)) {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
        @include md {
            padding-right: 2.5rem;
            padding-left: 2.5rem;
        }

        @include between(0px, calc($breakpoint-sm - 1px)) {
            max-width: $width-xs;
        }
        @include between($breakpoint-sm, calc($breakpoint-md - 1px)) {
            max-width: $width-sm;
        }
        @include between($breakpoint-md, calc($breakpoint-lg - 1px)) {
            max-width: $width-md;
        }
        @include between($breakpoint-lg, calc($breakpoint-xl - 1px)) {
            max-width: $width-lg;
        }

        @include xl {
            max-width: $width-xl;
        }
    }
}

.pt {
    &__xs {
        padding-top: $size-1;
    }
    &__sm {
        padding-top: $size-2;
    }
    &__md {
        padding-top: $size-4;
    }
    &__lg {
        padding-top: $size-6;
    }
    &__xl {
        padding-top: $size-10;
    }
}

.pr {
    &__xs {
        padding-right: $size-1;
    }
    &__sm {
        padding-right: $size-2;
    }
    &__md {
        padding-right: $size-4;
    }
    &__lg {
        padding-right: $size-6;
    }
    &__xl {
        padding-right: $size-10;
    }
}

.pb {
    &__xs {
        padding-bottom: $size-1;
    }
    &__sm {
        padding-bottom: $size-2;
    }
    &__md {
        padding-bottom: $size-4;
    }
    &__lg {
        padding-bottom: $size-6;
    }
    &__xl {
        padding-bottom: $size-10;
    }
}

.pl {
    &__xs {
        padding-left: $size-1;
    }
    &__sm {
        padding-left: $size-2;
    }
    &__md {
        padding-left: $size-4;
    }
    &__lg {
        padding-left: $size-6;
    }
    &__xl {
        padding-left: $size-10;
    }
}

@include colorClassName("bg");
@include colorClassName("color");
@include colorClassName("border");
@include colorClassName("fill");
