/* Font */
$font-base: 16px;
$font-sans: var(--font-sans), ui-sans-serif, system-ui, "-apple-system",
    "BlinkMacSystemFont", "Segoe UI", Roboto, sans-serif;
$font-serif: var(--font-serif), ui-serif, serif;
$font-mono: var(--font-mono);

.font-sans {
    font-family: $font-sans;
}

.font-serif {
    font-family: $font-serif;
}

.font-mono {
    font-family: $font-mono;
}

/* Font Size */
$font-4xs: 8px;
$font-3xs: 10px;
$font-2xs: 12px;
$font-xs: 13px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 22px;
$font-3xl: 24px;
$font-4xl: 28px;
$font-5xl: 32px;
$font-6xl: 36px;
$font-7xl: 40px;
$font-8xl: 44px;
$font-9xl: 48px;
$font-10xl: 52px;

.font-4xs {
    font-size: $font-4xs;
}
.font-3xs {
    font-size: $font-3xs;
}
.font-2xs {
    font-size: $font-2xs;
}
.font-xs {
    font-size: $font-xs;
}
.font-sm {
    font-size: $font-sm;
}
.font-md {
    font-size: $font-md;
}
.font-lg {
    font-size: $font-lg;
}
.font-xl {
    font-size: $font-xl;
}
.font-2xl {
    font-size: $font-2xl;
}
.font-3xl {
    font-size: $font-3xl;
}
.font-4xl {
    font-size: $font-4xl;
}
.font-5xl {
    font-size: $font-5xl;
}
.font-6xl {
    font-size: $font-6xl;
}
.font-7xl {
    font-size: $font-7xl;
}
.font-8xl {
    font-size: $font-8xl;
}
.font-9xl {
    font-size: $font-9xl;
}
.font-10xl {
    font-size: $font-10xl;
}

/* Font Weight */
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 800;

.font-light {
    font-weight: $font-light;
}
.font-normal {
    font-weight: $font-normal;
}
.font-medium {
    font-weight: $font-medium;
}
.font-semibold {
    font-weight: $font-semibold;
}
.font-bold {
    font-weight: $font-bold;
}
.font-extrabold {
    font-weight: $font-extrabold;
}
.font-black {
    font-weight: $font-black;
}

/* Line Height */
$leading-3: rem(12px);
$leading-4: rem(16px);
$leading-5: rem(20px);
$leading-6: rem(24px);
$leading-7: rem(28px);
$leading-8: rem(32px);
$leading-9: rem(36px);
$leading-10: rem(40px);
$leading-none: 1;
$leading-tight: 1.25;
$leading-snug: 1.375;
$leading-normal: 1.5;
$leading-relaxed: 1.625;
$leading-loose: 2;

.leading-3 {
    line-height: $leading-3;
}
.leading-4 {
    line-height: $leading-4;
}
.leading-5 {
    line-height: $leading-5;
}
.leading-6 {
    line-height: $leading-6;
}
.leading-7 {
    line-height: $leading-7;
}
.leading-8 {
    line-height: $leading-8;
}
.leading-9 {
    line-height: $leading-9;
}
.leading-10 {
    line-height: $leading-10;
}
.leading-none {
    line-height: $leading-none;
}
.leading-tight {
    line-height: $leading-tight;
}
.leading-snug {
    line-height: $leading-snug;
}
.leading-normal {
    line-height: $leading-normal;
}
.leading-relaxed {
    line-height: $leading-relaxed;
}
.leading-loose {
    line-height: $leading-loose;
}

/* Letter Spacing */
$tracking-tighter: -0.05em;
$tracking-tight: -0.025em;
$tracking-normal: 0em;
$tracking-wide: 0.025em;
$tracking-wider: 0.05em;
$tracking-widest: 0.1em;

.tracking-tighter {
    letter-spacing: $tracking-tighter;
}
.tracking-tight {
    letter-spacing: $tracking-tight;
}
.tracking-normal {
    letter-spacing: $tracking-normal;
}
.tracking-wide {
    letter-spacing: $tracking-wide;
}
.tracking-wider {
    letter-spacing: $tracking-wider;
}
.tracking-widest {
    letter-spacing: $tracking-widest;
}

$text-left: left;
$text-center: center;
$text-right: right;
$text-justify: justify;
$text-start: start;
$text-end: end;

.text-left {
    text-align: $text-left;
}
.text-center {
    text-align: $text-center;
}
.text-right {
    text-align: $text-right;
}
.text-justify {
    text-align: $text-justify;
}
.text-start {
    text-align: $text-start;
}
.text-end {
    text-align: $text-end;
}

$underline: underline;
$overline: overline;
$line-through: line-through;
$no-underline: none;

.underline {
    text-decoration-line: $underline;
}
.overline {
    text-decoration-line: $overline;
}
.line-through {
    text-decoration-line: $line-through;
}
.no-underline {
    text-decoration-line: $no-underline;
}
