/* Shadow */
$shadow-none: none;
$shadow-sm: 0 1px 2px 0 rgba(24, 29, 54, 0.05);
$shadow-md: 0 1px 4px 0 rgba(24, 29, 54, 0.11),
    0 1px 2px -1px rgba(24, 29, 54, 0.11);
$shadow-lg: 0 10px 15px -3px rgba(24, 29, 54, 0.11),
    0 4px 6px -4px rgba(24, 29, 54, 0.11);
$shadow-xl: 0 20px 13px rgba(24, 29, 54, 0.03), 0 8px 5px rgba(24, 29, 54, 0.08);
$shadow-inner-top: inset 0 8px 5px -5px rgba(24, 29, 54, 0.11);
$shadow-inner-bottom: inset 0 -8px 5px -5px rgba(24, 29, 54, 0.11);
