$w-0: 0px;
$w-px: 1px;
$w-0_5: rem(2px);
$w-1: rem(4px);
$w-1_5: rem(6px);
$w-2: rem(8px);
$w-2_5: rem(10px);
$w-3: rem(12px);
$w-3_5: rem(14px);
$w-4: rem(16px);
$w-5: rem(20px);
$w-6: rem(24px);
$w-7: rem(28px);
$w-8: rem(32px);
$w-9: rem(36px);
$w-10: rem(40px);
$w-11: rem(44px);
$w-12: rem(48px);
$w-14: rem(56px);
$w-16: rem(64px);
$w-20: rem(80px);
$w-24: rem(96px);
$w-28: rem(112px);
$w-32: rem(128px);
$w-36: rem(144px);
$w-40: rem(160px);
$w-44: rem(176px);
$w-48: rem(192px);
$w-52: rem(208px);
$w-56: rem(224px);
$w-60: rem(240px);
$w-64: rem(256);
$w-72: rem(288);
$w-80: rem(320);
$w-96: rem(384px);
$w-auto: auto;
// $w-1/2: 50%;
// $w-1/3: 33.333333%;
// $w-2/3: 66.666667%;
// $w-1/4: 25%;
// $w-2/4: 50%;
// $w-3/4: 75%;
// $w-1/5: 20%;
// $w-2/5: 40%;
// $w-3/5: 60%;
// $w-4/5: 80%;
// $w-1/6: 16.666667%;
// $w-2/6: 33.333333%;
// $w-3/6: 50%;
// $w-4/6: 66.666667%;
// $w-5/6: 83.333333%;
// $w-1/12: 8.333333%;
// $w-2/12: 16.666667%;
// $w-3/12: 25%;
// $w-4/12: 33.333333%;
// $w-5/12: 41.666667%;
// $w-6/12: 50%;
// $w-7/12: 58.333333%;
// $w-8/12: 66.666667%;
// $w-9/12: 75%;
// $w-10/12: 83.333333%;
// $w-11/12: 91.666667%;
$w-full: 100%;
$w-screen: 100vw;
$w-min: min-content;
$w-max: max-content;
$w-fit: fit-content;

.w-0 {
    width: $w-0;
}
.w-px {
    width: $w-px;
}
.w-0-5 {
    width: $w-0_5;
}
.w-1 {
    width: $w-1;
}
.w-1-5 {
    width: $w-1_5;
}
.w-2 {
    width: $w-2;
}
.w-2-5 {
    width: $w-2_5;
}
.w-3 {
    width: $w-3;
}
.w-3-5 {
    width: $w-3_5;
}
.w-4 {
    width: $w-4;
}
.w-5 {
    width: $w-5;
}
.w-6 {
    width: $w-6;
}
.w-7 {
    width: $w-7;
}
.w-8 {
    width: $w-8;
}
.w-9 {
    width: $w-9;
}
.w-10 {
    width: $w-10;
}
.w-11 {
    width: $w-11;
}
.w-12 {
    width: $w-12;
}
.w-14 {
    width: $w-14;
}
.w-16 {
    width: $w-16;
}
.w-20 {
    width: $w-20;
}
.w-24 {
    width: $w-24;
}
.w-28 {
    width: $w-28;
}
.w-32 {
    width: $w-32;
}
.w-36 {
    width: $w-36;
}
.w-40 {
    width: $w-40;
}
.w-44 {
    width: $w-44;
}
.w-48 {
    width: $w-48;
}
.w-52 {
    width: $w-52;
}
.w-56 {
    width: $w-56;
}
.w-60 {
    width: $w-60;
}
.w-64 {
    width: $w-64;
}
.w-72 {
    width: $w-72;
}
.w-80 {
    width: $w-80;
}
.w-96 {
    width: $w-96;
}
.w-auto {
    width: $w-auto;
}
// .w-1/2 {
//     width: $w-1/2;
// }
// .w-1/3 {
//     width: $w-1/3;
// }
// .w-2/3 {
//     width: $w-2/3;
// }
// .w-1/4 {
//     width: $w-1/4;
// }
// .w-2/4 {
//     width: $w-2/4;
// }
// .w-3/4 {
//     width: $w-3/4;
// }
// .w-1/5 {
//     width: $w-1/5;
// }
// .w-2/5 {
//     width: $w-2/5;
// }
// .w-3/5 {
//     width: $w-3/5;
// }
// .w-4/5 {
//     width: $w-4/5;
// }
// .w-1/6 {
//     width: $w-1/6;
// }
// .w-2/6 {
//     width: $w-2/6;
// }
// .w-3/6 {
//     width: $w-3/6;
// }
// .w-4/6 {
//     width: $w-4/6;
// }
// .w-5/6 {
//     width: $w-5/6;
// }
// .w-1/12 {
//     width: $w-1/22;
// }
// .w-2/12 {
//     width: $w-2/12;
// }
// .w-3/12 {
//     width: $w-3/12;
// }
// .w-4/12 {
//     width: $w-4/12;
// }
// .w-5/12 {
//     width: $w-5/12;
// }
// .w-6/12 {
//     width: $w-6/12;
// }
// .w-7/12 {
//     width: $w-7/12;
// }
// .w-8/12 {
//     width: $w-8/12;
// }
// .w-9/12 {
//     width: $w-9/12;
// }
// .w-10/12 {
//     width: $w-10/12;
// }
// .w-11/12 {
//     width: $w-11/12;
// }
.w-full {
    width: $w-full;
}
.w-screen {
    width: $w-screen;
}
.w-min {
    width: $w-min;
}
.w-max {
    width: $w-max;
}
.w-fit {
    width: $w-fit;
}

$min-w-0: 0px;
$min-w-full: 100%;
$min-w-min: min-content;
$min-w-max: max-content;
$min-w-fit: fit-content;

.min-w-0 {
    min-width: 0px;
}
.min-w-full {
    min-width: 100%;
}
.min-w-min {
    min-width: min-content;
}
.min-w-max {
    min-width: max-content;
}
.min-w-fit {
    min-width: fit-content;
}

$max-w-0: rem(0px);
$max-w-none: none;
$max-w-xs: rem(320px);
$max-w-sm: rem(384px);
$max-w-md: rem(448px);
$max-w-lg: rem(512px);
$max-w-xl: rem(576px);
$max-w-2xl: rem(672px);
$max-w-3xl: rem(768px);
$max-w-4xl: rem(896px);
$max-w-5xl: rem(1024px);
$max-w-6xl: rem(1152px);
$max-w-7xl: rem(1280px);
$max-w-full: 100%;
$max-w-min: min-content;
$max-w-max: max-content;
$max-w-fit: fit-content;
$max-w-prose: 65ch;
$max-w-screen-sm: 640px;
$max-w-screen-md: 768px;
$max-w-screen-lg: 1024px;
$max-w-screen-xl: 1280px;
$max-w-screen-2xl: 1536px;

.max-w-0 {
    max-width: $max-w-0;
}
.max-w-none {
    max-width: $max-w-none;
}
.max-w-xs {
    max-width: $max-w-xs;
}
.max-w-sm {
    max-width: $max-w-sm;
}
.max-w-md {
    max-width: $max-w-md;
}
.max-w-lg {
    max-width: $max-w-lg;
}
.max-w-xl {
    max-width: $max-w-xl;
}
.max-w-2xl {
    max-width: $max-w-2xl;
}
.max-w-3xl {
    max-width: $max-w-3xl;
}
.max-w-4xl {
    max-width: $max-w-4xl;
}
.max-w-5xl {
    max-width: $max-w-5xl;
}
.max-w-6xl {
    max-width: $max-w-6xl;
}
.max-w-7xl {
    max-width: $max-w-7xl;
}
.max-w-full {
    max-width: $max-w-full;
}
.max-w-min {
    max-width: $max-w-min;
}
.max-w-max {
    max-width: $max-w-max;
}
.max-w-fit {
    max-width: $max-w-fit;
}
.max-w-prose {
    max-width: $max-w-prose;
}
.max-w-screen-sm {
    max-width: $max-w-screen-sm;
}
.max-w-screen-md {
    max-width: $max-w-screen-md;
}
.max-w-screen-lg {
    max-width: $max-w-screen-lg;
}
.max-w-screen-xl {
    max-width: $max-w-screen-xl;
}
.max-w-screen-2xl {
    max-width: $max-w-screen-2xl;
}
