@import "@styles/utilities";

.container {
    margin-right: auto;
    margin-left: auto;

    &.xs,
    &.md,
    &.lg,
    &.xl {
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        @include md {
            max-width: $width-md;
            padding-right: 2.5rem;
            padding-left: 2.5rem;
        }
    }

    &.xs {
        max-width: $width-xs;
    }

    &.sm {
        max-width: $width-xs;

        @include sm {
            max-width: $width-sm;
        }
    }

    &.md {
        max-width: $width-xs;

        @include sm {
            max-width: $width-sm;
        }

        @include md {
            max-width: $width-md;
        }
    }

    &.lg {
        max-width: $width-xs;

        @include sm {
            max-width: $width-sm;
        }

        @include md {
            max-width: $width-md;
        }

        @include lg {
            max-width: $width-lg;
        }
    }

    &.xl {
        max-width: $width-xs;

        @include sm {
            max-width: $width-sm;
        }

        @include md {
            max-width: $width-md;
        }

        @include lg {
            max-width: $width-lg;
        }

        @include xl {
            max-width: $width-xl;
        }
    }
}
