@import "@styles/utilities";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: palette(common, white);
}

.logo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav__main__container {
    border-top: 1px solid palette(neutral, 10);
    border-bottom: 1px solid palette(neutral, 10);
    width: 100%;
    margin-bottom: $size-5;
}

.nav__main {
    display: flex;
    justify-content: center;
    padding-top: $size-2-5;
    padding-bottom: $size-2-5;
    text-transform: uppercase;
    @include fontSizing(
        $font-size-xs,
        $line-height-normal,
        $font-weight-semibold,
        $letter-spacing-wide
    );
}

.nav__main .nav__item {
    position: relative;

    &:not(:first-child) {
        margin-left: $size-4;
    }
    &:before {
        content: "";
        position: absolute;
        right: 0;
        top: $size-2-5;
        left: 0;
        height: 1px;
        background-color: transparent;
        transition: background-color $duration-normal $ease-out;
    }

    &:hover {
        &:before {
            background-color: palette(neutral, 20);
        }
    }
}

.nav__social {
    display: flex;
    justify-content: center;
}
.nav__social .nav__item {
    margin-bottom: $size-5;
    svg {
        fill: palette(neutral, 30);
        transition: fill $duration-normal $ease-out;
    }
    &:not(:first-child) {
        margin-left: $size-1-5;
    }
    &:hover {
        svg {
            fill: palette(brand, ice);
        }
    }
}
.nav__legal {
    text-align: center;
    margin-bottom: $size-3;
}
.nav__legal .nav__item {
    color: palette(neutral, 30);
    @include fontSizing(
        $font-size-sm,
        $line-height-normal,
        $font-weight-semibold
    );
    &:not(:first-child) {
        margin-left: $size-1-5;
    }
    transition: color $duration-normal $ease-out;
    &:hover {
        color: palette(neutral, 70);
    }
}

.subscribe__form {
    display: grid;
}
.slogan {
    justify-self: center;
    max-width: 500px;
    text-align: center;
    color: palette(neutral, 50);
    margin-bottom: $size-3;
}
.copy {
    color: palette(neutral, 30);
    text-align: center;
    margin-top: $size-1-5;
    margin-bottom: $size-3;
}
.form {
    display: grid;
    justify-self: center;
    grid-template-columns: minmax(200px, 320px) minmax(80px, 100px);
    column-gap: $size-1;
}
.control {
    position: relative;
    display: grid;
    align-items: center;
}
.label,
.text__input {
    @include fontSizing(
        $font-size-md,
        $line-height-normal,
        $font-weight-normal,
        $letter-spacing-wide
    );
    color: palette(neutral, 20);
}
.label {
    position: absolute;
    left: $size-1-5;
    transition: opacity $duration-normal $ease-out;

    &.active {
        opacity: 0;
    }
}
.text__input {
    padding: $size-1-5 0 $size-1-5 $size-1-5;

    border-radius: $radius-sm;
    outline: none;
}
.submit {
    @include fontSizing(
        $font-size-xs,
        $line-height-normal,
        $font-weight-medium
    );
    text-transform: uppercase;
    background-color: palette(brand, ice);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-right: $size-2-5;
    padding-left: $size-2-5;
    color: palette(common, white);
    border-radius: $radius-sm;
    transition: background-color $duration-normal $ease-out;

    &:hover {
        background-color: palette(blue, 30);
    }
}
