@import "@styles/utilities";

.content {
    h1 {
        @include fontSizing(
            $font-size-6xl,
            $line-height-tight,
            $font-weight-black
        );
        margin-bottom: $size-1-5;

        @include md {
            @include fontSizing(
                $font-size-8xl,
                $line-height-tight,
                $font-weight-black
            );
            margin-bottom: $size-2;
        }

        @include lg {
            @include fontSizing(
                $font-size-10xl,
                $line-height-tight,
                $font-weight-black
            );
            margin-bottom: $size-2-5;
        }
    }
    h2 {
        @include fontSizing(
            $font-size-4xl,
            $line-height-tight,
            $font-weight-bold
        );
        margin-bottom: $size-1-5;
        @include md {
            @include fontSizing(
                $font-size-6xl,
                $line-height-tight,
                $font-weight-bold
            );
        }

        @include lg {
            @include fontSizing(
                $font-size-8xl,
                $line-height-tight,
                $font-weight-bold
            );
            margin-bottom: $size-2-5;
        }
    }
    h3 {
        @include fontSizing(
            $font-size-3xl,
            $line-height-tight,
            $font-weight-bold,
            $letter-spacing-tight
        );
        margin-bottom: $size-1-5;
        @include md {
            @include fontSizing(
                $font-size-5xl,
                $line-height-tight,
                $font-weight-bold,
                $letter-spacing-tight
            );
        }

        @include lg {
            @include fontSizing(
                $font-size-7xl,
                $line-height-tight,
                $font-weight-bold,
                $letter-spacing-tight
            );
            margin-bottom: $size-2-5;
        }
    }
    h4 {
        @include fontSizing(
            $font-size-2xl,
            $line-height-tight,
            $font-weight-bold
        );
        margin-bottom: $size-1-5;
        @include md {
            @include fontSizing(
                $font-size-4xl,
                $line-height-tight,
                $font-weight-bold
            );
        }

        @include lg {
            @include fontSizing(
                $font-size-6xl,
                $line-height-tight,
                $font-weight-bold
            );
            margin-bottom: $size-2-5;
        }
    }
    h5 {
        @include fontSizing(
            $font-size-xl,
            $line-height-tight,
            $font-weight-bold
        );
        margin-bottom: $size-1-5;
    }
    h6 {
        @include fontSizing(
            $font-size-7xl,
            $line-height-snug,
            $font-weight-bold
        );
    }
    p {
        @include fontSizing(
            $font-size-lg,
            $line-height-normal,
            $font-weight-normal
        );
        margin-bottom: $size-1-5;

        @include md {
            margin-bottom: $size-2;
        }
        @include md {
            margin-bottom: $size-3;
        }
    }
}

.spacing {
    .top {
    }
    .bottom {
    }
}
