@import "@styles/utilities";

.selector {
    position: relative;
    z-index: $z-90;
    cursor: pointer;
    display: grid;
    box-sizing: border-box;
}

.menu {
    position: absolute;
    display: grid;
    flex-direction: column;
    min-width: 200px;
    background-color: palette(common, white);
    box-sizing: border-box;
    // background-color: rgba(palette(common, white), 0.5);
    border-top: 1px solid palette(neutral, 05);
    padding: $size-4;
    box-shadow: $shadow-lg;
    border-radius: $radius-md;
    transform-origin: center;

    &.top-left,
    &.top-center,
    &.top-right,
    &.middle-left,
    &.middle-center,
    &.middle-right,
    &.bottom-left,
    &.bottom-center,
    &.bottom-right {
        align-self: center;
        justify-self: center;
    }

    &.inactive {
        z-index: $z-hidden;
        opacity: $opacity-0;
        pointer-events: none;

        &.slide {
            transition: transform $duration-normal $ease-out;
        }

        &.fade-slide,
        &.fade {
            transition: transform $duration-normal $ease-out,
                opacity $duration-normal $ease-out;
        }

        &.top-right {
            left: 100%;
            bottom: 100%;
            &.slide,
            &.fade-slide {
                transform: translateY(-100%);
            }
            &.fade {
                transform: scale(0.9);
            }
        }
        &.top-center {
            bottom: 100%;
            &.slide,
            &.fade-slide {
                transform: translateY(-100%);
            }
            &.fade {
                transform: scale(0.9);
            }
        }
        &.top-left {
            right: 100%;
            bottom: 100%;
            &.slide,
            &.fade-slide {
                transform: translateY(-100%);
            }
            &.fade {
                transform: scale(0.9);
            }
        }

        &.bottom-right {
            left: 100%;
            top: 100%;
            &.slide,
            &.fade-slide {
                transform: translateY(100%);
            }
            &.fade {
                transform: scale(0.9);
            }
        }
        &.bottom-center {
            top: 100%;
            &.slide,
            &.fade-slide {
                transform: translateY(100%);
            }
            &.fade {
                transform: scale(0.9);
            }
        }
        &.bottom-left {
            right: 100%;
            top: 100%;
            &.slide,
            &.fade-slide {
                transform: translateY(100%);
            }
            &.fade {
                transform: scale(0.9);
            }
        }

        &.middle-right {
            left: 100%;
            top: 50%;
            &.slide,
            &.fade-slide {
                transform: translateY(100%);
            }
            &.fade {
                transform: scale(0.9);
            }
        }

        &.middle-center {
            top: 50%;
            &.slide,
            &.fade-slide {
                transform: translateY(100%);
            }
            &.fade {
                transform: scale(0.9);
            }
        }

        &.middle-left {
            right: 100%;
            top: 50%;
            &.slide,
            &.fade-slide {
                transform: translateY(100%);
            }
            &.fade {
                transform: scale(0.9);
            }
        }
    }
    &.active {
        z-index: $z-90;
        opacity: $opacity-100;
        transition: transform $duration-normal $ease-in,
            opacity $duration-normal $ease-in;

        &.top-right {
            left: 100%;
            bottom: 100%;

            &.slide,
            &.fade-slide {
                transform: translateY(0);
            }
            &.fade {
                transform: scale(1);
            }
        }

        &.top-center {
            bottom: 100%;
            &.slide,
            &.fade-slide {
                transform: translateY(0);
            }
            &.fade {
                transform: scale(1);
            }
        }

        &.top-left {
            right: 100%;
            bottom: 100%;
            &.slide,
            &.fade-slide {
                transform: translateY(0);
            }
            &.fade {
                transform: scale(1);
            }
        }

        &.bottom-right {
            left: 100%;
            top: 100%;
            &.slide,
            &.fade-slide {
                transform: translateY(0);
            }
            &.fade {
                transform: scale(1);
            }
        }

        &.bottom-center {
            top: 100%;
            &.slide,
            &.fade-slide {
                transform: translateY(0);
            }
            &.fade {
                transform: scale(1);
            }
        }

        &.bottom-left {
            right: 100%;
            top: 100%;
            &.slide,
            &.fade-slide {
                transform: translateY(0);
            }

            &.fade {
                left: 0;
                transform: scale(1);
            }
        }

        &.middle-right {
            left: 100%;
            top: 50%;
            &.slide,
            &.fade-slide {
                transform: translateY(-50%);
            }
            &.fade {
                transform: scale(1);
            }
        }

        &.middle-center {
            top: 50%;
            &.slide,
            &.fade-slide {
                transform: translateY(-50%);
            }
            &.fade {
                transform: scale(1);
            }
        }

        &.middle-left {
            right: 100%;
            top: 50%;
            &.slide,
            &.fade-slide {
                transform: translateY(-50%);
            }
            &.fade {
                transform: scale(1);
            }
        }
    }
}
