@import "utilities";


:root {
    --font-sans: var(--font-assistant)
    --font-serif: var(--font-noto-serif)
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    text-rendering: optimizeSpeed;
    font-family: $font-sans;
    color: palette(common, ebony);
    background: palette(neutral, 05)
        // linear-gradient(
        //     to top,
        //     rgba(palette(neutral, 10), 0.5) 0%,
        //     palette(neutral, 05)
        // );
}

body[data-context="mobile-native"] {
    min-height: 100vh;
    -webkit-user-select: none;
    user-select: none;
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

abbr:where([title]) {
    text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family: palette(common, ebony);
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border: none;
}

:-moz-focusring {
    outline: auto;
}

:-moz-ui-invalid {
    box-shadow: none;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: palette(common, white);
}

button,
[role="button"] {
    cursor: pointer;
}

:disabled {
    cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}

[hidden] {
    display: none;
}

:is(a, button, input, textarea, select) {
    outline-width: 0;
    outline-style: solid;
    outline-color: transparent;
    transition: outline-color $duration-normal;
}

:is(a, button, input, textarea, select):focus-visible {
    outline-width: 3px;
    outline-color: palette(cyan, 30);
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.__tina-quick-editing-enabled [data-tina-field] {
    outline: 2px dashed rgba(palette(green, 10), 0);
}
.__tina-quick-editing-enabled [data-tina-field]:hover {
    outline: 2px dashed rgba(palette(green, 20), 1);
    box-shadow: inset 100vi 100vh rgba(palette(green, 30), 0.15);
}